@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'), url('./assets/Montserrat-Bold.ttf') format('truetype');
}
.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 10px 45px;
  font-family: 'Montserrat';
  color: rgb(31, 173, 255);
}

.social-icons {
  display: flex;
  justify-content: flex-end;
}

.logo {
  font-weight: bold;
  font-size: 40px;
}

.logo img {
  width: 110px;
}

.social-icons a{
  margin-left: 15px;
}

.social-icons a{
  width: 40px;
  cursor: pointer;
}
.main-section {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  display: block;
  align-items: center;
}

.main-section img {
  width: 70%; 
}

.discription {
  font-family: Montserrat-light;
  font-size: 32px;
  margin: 35px 10px;
}

@media (max-width: 480px) {
  .main-section {
    width: 80%;
  }

  .main-section img {
    width: 100%; 
  }

  .discription {
    font-size: 15px !important;
  } 
  .footer-text {
    font-size: 15px !important;
  }
}
.footer-text {
  font-family: Montserrat-semibold;
  font-size: 32px;
  margin: 40px 10px;
}